body {
    font: 16px/1.4em 'PT Sans', sans-serif;;
    color: #1c1c1c;
}
p,
ul {
    margin: 0 0 1.5em;
}
p.video_p{
    text-align: center;
}
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}
a {
    color: #1D745A;
}
h1 {
}
h1.video_h1 {
 text-align: center;
}
h2 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}
 
/*layout*/
.wrapper {
}
.panel {
  width: 100%;
  height: 659px;

  position: relative;
  background: url(img/billboard_img.jpg);
  background-repeat: no-repeat;
}
.video_wrapper{
    width: 100%;
    margin: auto;
}
.panel_video {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
img.video {
    display: block;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
img.work {
    display: block;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
p.cap_title{
    padding-top: 230px;
    text-align: center;
    font-size: 2em;
    line-height: 1;    
}
div.w3-col.s4{
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
div.join{
    height: 300px;
    background-color: #f7f7f7;
    margin: auto;
    margin-top: 20px;
    padding-top: 60px;
    text-align: center;
}  
article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
}
/*header*/
header {
    background: #1c1c1c;
    padding: 15px 20px;
}
        /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:"";
            display:table;
        }
        header:after {
            clear:both;
        }
        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }
h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
}
a.to_nav {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}
/*navigation*/ 
#primary_nav ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}
#primary_nav li:last-child a {
    border-bottom: none;
}
#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}
nav.join{
    margin-top: 50px;
    margin-bottom: 50px;
}
.join_button{
    border: 1px solid black;
    
    padding: 20px;
    border-radius: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
}
/*footer*/
footer {
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    font-size: 14px;
}
@media only screen 
  and (max-width: 639px)
  and (orientation: portrait) {
}
@media only screen 
  and (max-width: 961px)
  and (orientation: portrait) {
}
@media only screen 
  and (max-width: 639px)
  and (orientation: landscape) {
}
@media only screen 
  and (max-width: 961px)
  and (orientation: landscape) {
}
@media only screen 
  and (max-width: 1025px)
  and (min-width: 962px) {
}

/* Portrait */
@media only screen 
  and (max-width: 600px) 
  and (orientation: portrait) {
}
/* Landscape */
@media only screen 
  and (max-device-width: 900px) 
  and (orientation: landscape) {
}
@media only screen 
  and (max-width: 1921px)
  and (min-width: 1282px) {
    a.to_nav {
        display: none;
    }
    .wrapper {
        position: relative;
        width: 1024px;
        margin: auto;
    }
    #primary_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }
    #primary_nav li {
        display: inline;
    }
    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    #primary_nav li.top {
    display: none;
}
@media only screen 
  and (max-width: 1281px)
  and (min-width: 1026px) {
    a.to_nav {
        display: none;
    }
    .wrapper {
        position: relative;
        width: 1024px;
        margin: auto;
    }
    #primary_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }
    #primary_nav li {
        display: inline;
    }
    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    #primary_nav li.top {
        display: none;
    }
}